<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>

<configuration>
    <typeHandlers>
        <!-- Custom type handler for dealing with the Character data type to overcome a mybatis defect.-->
        <typeHandler javaType='java.lang.Character' handler='org.sola.services.common.repository.CharTypeHandler'/>
    </typeHandlers>
    
    <environments default='sharedDataSource'>
        <environment id='sharedDataSource'>
            <transactionManager type='MANAGED'/>
            <dataSource type='JNDI'>
                <property name='data_source' value='jdbc/sola'/>
            </dataSource>
        </environment>
    </environments>
</configuration>
